# Losowanie zespołów

In [49]:
L.szkol<-2000
c<-sample(1:8, L.szkol, replace = TRUE, prob = 8:1)

C<-data.frame( 
    klasa= unlist( lapply( 1:L.szkol, FUN = function(x){1:c[x]} )),
    szkola = unlist( lapply(1:L.szkol, FUN = function(x){rep(x, c[x])})),
    gmina= unlist( lapply (1:L.szkol, FUN = function(x){ rep( sample(1:25,1,replace = FALSE), c[x])   }))
)
# 5000 szkol
# Losowanie 2 gmin z prawdopo liczby szkol
#aggregate( x = C$klasa, by = list( C$szkola), FUN = length )
G<-aggregate( x = C$szkola, by = list( C$gmina), FUN = unique )
G$y<- unlist(lapply(G$x, length))
G
# Losowanie po jednej szkole z kazdej gminy

   Group.1  x
1        1 63
2        2 70
3        3 85
4        4 95
5        5 79
6        6 81
7        7 86
8        8 68
9        9 78
10      10 73
11      11 76
12      12 78
13      13 80
14      14 92
15      15 77
16      16 92
17      17 79
18      18 74
19      19 98
20      20 83
21      21 76
22      22 83
23      23 64
24      24 86
25      25 84